<div class="cardcontent-6">
  <div class="bg-gray text-left">
    <h3 class="title text-center">Terms of Service</h3>
    <div class="termContent text-left">
      <p>
        Nineyard Solutions, LLC. (“Nineyard,” “Company,” “We” or “Us”) owns and
        operates an online e-commerce inventory, pricing and marketing system,
        which enables Nineyard Users to, inter alia, import sales and
        transaction data from their payment processor, keep track of their
        inventory, and analyze their sales data, modify pricing, and advertise
        and market their products, using Nineyard software made available
        through our website portal located at www.nineyard.com (the “Site”) in
        order to gain insights on warehouse management, pricing, re-stocking,
        and related services (“Services”).
      </p>
      <p>
        These Terms of Service (“Terms”), as may be amended from time to time,
        explain our obligations as a service provider and govern your access to
        and use of the Site and Services, including any content, information,
        products or services provided to you as a customer (“Agreement”). These
        Terms are binding on any use of the Site and Services and apply to you
        from the time that Nineyard provides you with access to our software and
        online portal. These Terms also apply to any other services and
        deliverables provided, or to be provided, by Nineyard to you, including
        any services and deliverables under a separate Order Form entered into
        by you and Nineyards from time to time unless expressly covered by a
        separate agreement.
      </p>
      <p>
        These Terms are a legal agreement between you and Nineyard and apply to
        you whether you have created a Nineyard Account on your own behalf (“
        Account Owner”) or have been authorized by an Account Owner to access
        its account for a lawful business purpose (“Account User”)
        (collectively, “Nineyard Users”).
      </p>
      <p>
        YOU UNDERSTAND THAT BY CLICKING THE “I AGREE” BUTTON, OR BY USING THE
        SITE OR SERVICES (INCLUDING ANY CONTENT PROVIDED THEREIN), YOU ARE
        AGREEING TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT ACCEPT
        THESE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE
        SITE OR SERVICES.
      </p>
      <ul class="list">
        <li>
          <p>
            <strong><u>Definitions</u>.</strong> Unless the context requires
            otherwise, capitalized words shall have these meanings:
          </p>
          <p>
            “Access Credentials” means any user name, identification number,
            password, license or security key, security token, PIN, or other
            security code, method, technology, or device used, alone or in
            combination, to verify an individual’s identity and authorization to
            access and use the Service.
          </p>
          <p>
            "Account Owner" means, in the case of an individual entering into
            these Terms on their own behalf, that individual, or in the case of
            an individual entering into these terms on behalf of an Entity, that
            Entity.
          </p>
          <p>
            “Account User" means each employee, agent or contractor of the
            Account Owner who uses the Service from time to time.
          </p>
          <p>
            “API” means the application programming interface made available by
            Nineyard to the Customer that facilitates the incorporation of
            certain aspects of the Services into the Customer’s existing
            software and systems.
          </p>
          <p>
            “Customer Data” means all information uploaded, submitted or
            transmitted to or through the Service by or on behalf of Customer,
            excluding Nineyard Data.
          </p>
          <p>
            “Documentation” means the resources and documentation that Nineyard
            makes available to Customer through support section of the Services,
            API documentation, Customer notifications and warnings in the
            Software and other pages on the Nineyard website.
          </p>
          <p>
            “Nineyard Data” means information collected or generated by or on
            behalf of Nineyard for purposes of providing, measuring or improving
            Nineyard’s products and services, including for benchmarking
            performance, or preparing statistics or system metrics, and all
            information developed or derived from its provision of the Service,
            including any information derived from Customer Data or appearing in
            solely an anonymized and/or aggregated form. For the avoidance of
            doubt, “Nineyard Data” shall not include any personally identifiable
            information of any User or the contents of any data or documents
            uploaded, submitted or transmitted by or on behalf of any User.
          </p>
          <p>
            “Nineyard Materials” means the Service, Documentation, Nineyard
            Data, Work Products and any and all other information, data,
            documents, materials, works, and other content, devices, methods,
            processes, hardware, software, and other technologies and
            inventions, including any deliverables, technical or functional
            descriptions, requirements, plans, or reports, that are provided or
            used by Nineyard or any subcontractor in connection with the Service
            or otherwise comprise or relate to the Service.
          </p>
          <p>
            "Service" means the online ordering, inventory, purchase order,
            price list, marketing and advertising, supply chain and stock
            management services provided under your Subscription Plan(s)
            accessed and used using your login name and password. These services
            may be changed or updated from time to time by Nineyard and
            Customer.<br />
            “Services” also include services under a signed Order Form, where
            applicable.
          </p>
          <p>
            “Subscription Plan” means the modules selected by an Account Owner
            which determines the extent and type of Service provided by
            Nineyard, the maximum number of Account Users permitted to access
            the Service, and the Service Fees charged by Nineyard.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Registration</u>.</strong> When you register to create an
            account on the Site (“Customer Account”), you will be asked to
            provide an email address and password to gain. Account access
            credentials are for designated users and cannot be shared,
            transferred or used by anyone other than those designated at the
            time of registration. You are responsible for safeguarding your
            password and you agree not to disclose your password to any third
            party. You agree to notify Nineyard immediately if you suspect
            misuse, loss of username and password. With your notification,
            Nineyard will issue a new username and password. Until such
            allocation, you agree that you will be solely responsible for any
            activities or actions taken under your password, whether or not you
            have authorized such activities or actions. You agree that the
            information that you provide to Nineyard upon registration, and at
            all other times will be true, accurate, current and complete.
            Without limiting any other terms of this Terms of Service, you may
            not impersonate any other person or use an email address or password
            that you are not authorized to use. If you use the Service on behalf
            of any entity, you are deemed to have agreed to these Terms on
            behalf of that entity.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Modification</u>.</strong> The services offered by
            Nineyard may change over time based on user feedback and
            modifications/upgrades to software. Nineyard reserves the right, in
            its sole discretion, to modify, discontinue or terminate the Site
            and Services, or to modify these Terms, at any time and without
            advance notice. Nineyard will post the modification on the Site or
            within the Services. We will also update the “Last Updated Date” in
            these Terms of Service. To the extent feasible, Nineyard will
            provide thirty (30) days’ advance notice of any
            <strong>material</strong> changes through a clickthrough box at the
            time of logging in to the Site, via email, or through other means.
            If any modified terms and conditions are not acceptable to you, your
            sole remedy is to cease using the Site and Services, and if
            applicable, cancel your Nineyard Account. By continuing to access or
            use the Site and Services after Nineyard makes any such revision,
            you agree to be bound by the revised Terms of Service.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Termination and Account Cancellation</u>.</strong>
          </p>
          <ul>
            <li>
              <p>
                <u>Term</u>. This Agreement will be effective upon the earlier
                of your registration of a Nineyard Account or the Effective Date
                set forth in the applicable Order Form and, unless terminated in
                accordance with the terms herein, will be effective for the term
                identified in the Order Form (“Term”). At the end of such Term,
                this Agreement will automatically renew for consecutive terms
                equal in time to the original Term (each, a new “Term”) on the
                same terms and conditions until termination by either party. The
                original term and all renewal terms shall be collectively
                referred to as “Term”.
              </p>
            </li>
            <li>
              <p>
                <span class="bg-yellow"
                  ><u>Termination by Convenience</u>. Either party may terminate
                  these Terms and your Nineyard Account for convenience by
                  giving written notice to the other party at least 30 days
                  before the end of a calendar month. These Terms and your
                  Nineyard Account will then terminate at the end of the
                  calendar month. You are liable to pay all relevant Service
                  charges up to and including the end of the calendar month in
                  which these Terms were terminated.</span
                >
              </p>
            </li>
            <li>
              <p>
                <u>Nineyard Termination</u>. Without limiting other remedies,
                Nineyard reserves the right to terminate the Site, Services or
                your access thereto at any time and for any reason. In addition,
                Nineyard may take any actions it deems appropriate, without
                notice to you, if Nineyard suspects or determines, in its own
                discretion, that you may have: (i) failed to comply with any
                provision of these Terms of Service or any policies or rules
                established by Nineyard; or (ii) engaged in actions relating to
                or in the course of using the Site or Services that may be
                illegal or cause liability, harm, embarrassment, harassment,
                abuse or disruption for you, Nineyard Users, Nineyard, any other
                third parties, or the Site or Services.
              </p>
            </li>
            <li>
              <p>
                <u>Your Termination</u>. You may terminate your Nineyard Account
                at any time and for any reason in writing by sending written
                notice of termination to Nineyard at the following address:
                <a href="mailto:admin@nineyard.com">admin@nineyard.com</a> . If
                this Agreement is terminated as a result of Nineyard’s breach of
                this Agreement, or due to a material modification of the Terms,
                Customer shall be entitled to a refund of (i) the pro rata
                portion of any fees paid to Nineyard for the base Service under
                this Agreement for the terminated portion of the Term and (ii)
                the proportion of the fees paid by Customer for additional
                Services which were not completed at the date of termination.
              </p>
            </li>
            <li>
              <p>
                <span class="bg-yellow"
                  ><u>Rights at Termination</u>. Upon termination, all rights
                  granted to you by these Terms of Service will immediately
                  cease. Nineyard is not liable to you or any third party for
                  termination of the Site or Services, or termination of your
                  use of the Site or Services. UPON ANY TERMINATION OR
                  SUSPENSION, ANY INFORMATION THAT YOU HAVE SUBMITTED ON THE
                  SITE OR WHICH IS RELATED TO YOUR ACCOUNT MAY NO LONGER BE
                  ACCESSED BY YOU. Notwithstanding the foregoing, for a period
                  of 30 days following termination of the Site or Services,
                  Nineyard will provide reasonable access to you to retrieve and
                  download your Data. This access is for the retrieval and
                  download of Data only, you will receive no other Services
                  after the termination date. Subject to the foregoing sentence,
                  we reserve the right to delete all your Data stored in the
                  Nineyard Site upon termination of these Terms of Service, and
                  you acknowledge and confirm that your Data cannot be recovered
                  once it is deleted and Nineyard shall not be liable to you or
                  any third party for termination of access to the Services or
                  deletion of your information or account data.
                </span>
              </p>
            </li>
            <li>
              <p>
                <u>Survival</u>. Any suspension, termination or cancellation of
                the Site or Services will not affect your obligations to
                Nineyard under these Terms of Service (including but not limited
                to ownership, indemnification and limitation of liability),
                which by their sense and context are intended to survive such
                suspension, termination or cancellation.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            <strong><u>Use of Nineyard Software and Site</u>.</strong> Nineyard
            grants you the right to access and use the Site and Services under
            your Nineyard Account via Nineyard’s online portal through a
            limited, revocable, non-exclusive, non-transferable,
            non-sublicensable license. This right of use is non-exclusive,
            subject to these Terms and any applicable written agreement between
            Customer and Nineyard, and any other applicable laws. Your use of
            the Site and Serivces in your jurisdiction is at your own risk, and
            you confirm that you have complied with all laws applicable to you
            when using the Site and Services.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Access to Customer Data</u>.</strong> As between Nineyard
            and Customer, Customer is the owner of all Customer Data and
            Nineyard will maintain the confidentiality of such Customer Data in
            accordance with Section 14. Customer will also be responsible for
            all Customer Data, including that which contains business
            information, account registration, account holder information,
            financial information, and all other data of any kind contained
            within e-mails or otherwise entered electronically through the
            Service or under Customer’s account. Customer acknowledges and
            agrees that in connection with the provision of the Service,
            Nineyard may store and maintain Customer Data for a period of time
            consistent with Nineyard’s standard business processes for the
            Service. Customer grants Nineyard and Nineyard’s Affiliates a
            non-exclusive license to host, copy, use, transmit and display
            Customer Data, and to use Customer’s systems, in each case as
            necessary for Nineyard to provide the Services in accordance with
            this Agreement, including Third Party Services in accordance with
            Section 15 and as anonymized or aggregated data in accordance with
            Section 16. Notwithstanding the foregoing, nothing in this Agreement
            is intended to prevent Nineyard from generating and using Nineyard
            Data for purposes of providing, measuring, improving and marketing
            Nineyard's products and services; provided that Nineyard shall not
            disclose to any third party any information that is identifiable as
            Customer-specific information.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Intellectual Property</u>.</strong> This Agreement is not
            a sale and does not convey to Customer any rights of ownership in or
            related to the Software or Services. Nineyard acknowledges and
            agrees that (a) as between Customer and Nineyard, Customer owns all
            right, title and interest in and to the Customer products, sites
            (including without limitation the look and feel), Customer’s Marks,
            and the technology underlying the Customer products and sites, and
            (b) nothing in this Agreement will confer in Nineyard or any
            Affiliate of Nineyard any right of ownership in the foregoing.
            Customer further acknowledges and agrees that (x) as between
            Customer and Nineyard, Nineyard owns all right, title and interest,
            including all intellectual property rights, in and/or related to the
            Software, API and Services, and the Documentation and all of the
            content that is made available in connection with the Software, API
            and Services, including but not limited to visual interfaces,
            interactive features, graphics, design, databases, the data
            contained therein (other than Customer Data), computer code,
            products, SMART Types and all other elements and components of the
            Software and Services and (y) nothing in this Agreement will confer
            in Customer or any Affiliate of Customer any right of ownership in
            the foregoing. Except as specifically authorized by Nineyard in
            writing, Customer shall not alter, change or remove from the
            Software or Services any trademark, other proprietary mark or
            proprietary rights notice. Except as expressly provided herein,
            Nineyard does not grant Customer any express or implied rights, and
            all rights in and to the Software and Services are retained by
            Nineyard.
          </p>
        </li>
        <li>
          <p>
            <strong><u> Your Obligations</u>.</strong>
          </p>
          <ul>
            <li>
              <p>
                <u>Lawful Use</u>. Customer must only use the Service and Site
                for your own lawful internal business purposes in accordance
                with these Terms and any notice sent by Nineyard or condition
                posted on the Website. Customer must not use, nor allow any
                person to use the Services or the Nineyard Account in relation
                to, or for the purposes of, any other business (including the
                business of any other Entity or individual). Customer is
                responsible for ensuring that all usernames and passwords
                required to access the Service and Site are kept secure and
                confidential and is responsible for all Account Users’ use of
                the Service. Nineyard has no responsibility or liability for the
                actions of any Account User. Nineyard will not be a party to any
                dispute between Customer and an Account User for any reason.
              </p>
              <p>
                In addition, without limitation, Customer agrees that while
                using or accessing the Site or Services you will not: (i)
                circumvent, disable or otherwise interfere with security related
                features of the Site or Services, or where the services are
                hosted by a third party, the third-party’s computing system or
                network; (ii) use, or misuse, the Services in any way which may
                impair the functionality of the Services or Site, or other
                systems used to deliver the Services or impair the ability of
                any other Nineyard User to use the Services or Website; (iii)
                attempt to probe, scan or test the vulnerability of any Nineyard
                system or network, or breach or impair or circumvent any
                security or authentication measures protecting the Site or
                Services; (iv) attempt to decipher, decompile, disassemble or
                reverse engineer any of the software used to provide the Site or
                Services; (v) collect, or attempt to collect, any personal data
                about other Nineyard Users without their express permission;
                (vi) use the Site or Services in any manner not permitted by
                these Terms; or (vii) encourage or instruct any other individual
                to do any of the foregoing or to violate any term of these
                Terms.
              </p>
            </li>
            <li>
              <p>
                <u>Configuration</u>. Customer is responsible for your
                configuration of the Services and any required hardware and the
                compatibility of the Services with any required hardware,
                application or system set up.
              </p>
            </li>
            <li>
              <p>
                <u>Payments and Refunds</u>. Customer shall pay Nineyards the
                fees set forth in the Order Form for the subscribed to service
                modules (“Service Fee”). The Service Fee is billed on a monthly
                basis in advance and will be charged to the credit card on file,
                and is non-refundable. There will be no refunds provided in case
                of partial months of service, for months of an unused running
                account and for any upgrades/ downgrades. Customer agrees that
                failure to pay the Service Fee within thirty (30) days after the
                payment due date will result in the suspension of Customer’s
                Account
              </p>
              <p>
                If Customer fails to pay any amount due under this Agreement,
                Nineyard may initiate a collection action and Customer agrees to
                reimburse Nineyard for its reasonable costs of collection,
                including attorney’s fees.
              </p>
            </li>
            <li>
              <p>
                <u>Upgrading and Downgrading</u>. On upgrading your Nineyard
                Account to include additional modules, the additional charges
                for the upgrade will be added to your monthly Service Fee, and
                will be automatically billed every month while your account
                remains active. Downgrading of your account to reduce your
                Nineyard modules may cause loss of content, features, or
                capacity of the Service you receive, and Nineyard does not
                accept any liability for losses arising as a direct or indirect
                consequence of this.
              </p>
            </li>
            <li>
              <p>
                <u>Changes to Prices and Features</u>. Nineyard reserves the
                right to change, delete or discontinue any Service feature,
                temporarily or permanently without notice. Nineyard reserves the
                right to modify monthly Service Fees at anytime without prior
                notice. Nineyard shall not be held liable to Customer or any
                third party for any changes in prices, features or
                discontinuance of service.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            <strong><u>Technical Support</u>.</strong> In the case of technical
            problems, Nineyard offers online customer support on the Nineyard
            website. Additional personalized support may be available in
            accordance with the Service modules subscribed to by Customer.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Service Interruptions</u>.</strong> It is Nineyard’s
            intention for the Services and Site to be available with an uptime
            of 99.9%, 24 hours a day, seven days a week. Notwithstanding, it is
            possible that on occasions the Services or Site may be unavailable.
            If for any reason Nineyard has to interrupt the Services for longer
            periods than Nineyard usually anticipates, Nineyard will use
            reasonable endeavours to publish in advance details of such activity
            on the Site. Nineyard will have no liability to Customer, Customer’s
            customers, or third parties for unavailability of the Services or
            Site.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Acknowledgement and Disclaimer of Warranty</u>.</strong>
          </p>
          <ul>
            <li>
              <p><u>Acknowledgement</u>. Customer Acknowledges that:</p>
              <p>
                (i) You are authorized to create the Nineyard Account (where
                applicable), to access and use the Services and the Site and to
                use the information and Data that you input into the Site,
                including any information or Data input into the Site by any
                person you have authorized to use the Service. You are also
                authorized to access the processed information and Data that is
                made available to you through your use of the Nineyard Site and
                the Services (whether that information and Data is your own or
                that of anyone else).
              </p>
              <p>
                (ii) Nineyard has no responsibility to any person other than you
                and nothing in these Terms confers, or purports to confer, a
                benefit on any person other than you. You may not use the
                Services or access the Site on behalf of another person, except
                if you are an Authorized User of a Nineyard Account, accessing
                the Nineyard Account as permitted by the Account Owner. If you
                are an Authorized User, you warrant that you have the
                appropriate permissions from the Account Owner, and acknowledge
                that you must comply with these Terms, and that you are
                responsible for all Data you input into the Site;
              </p>
              <p>
                (iii) You are responsible for authorizing any person who is
                given access to information or Data, and you agree that Nineyard
                has no obligation to provide any person access to such
                information or Data without your authorization and may refer any
                requests for information to you to address.
              </p>
              <p>
                (iv) The provision of, access to, and use of, the Services is on
                an "as is" basis and at your own risk.
              </p>
              <p>
                (v) Nineyard does not warrant that the use of the Service or
                Site will be uninterrupted or error free. Among other things,
                the operation and availability of the systems used for accessing
                the Service, including public telephone services, computer
                networks and the Internet, can be unpredictable and may from
                time to time interfere with or prevent access to the Services.
                Nineyard is not in any way responsible for any such interference
                or prevention of your access or use of the Services.
              </p>
              <p>
                (vi) Nineyard is not your accountant and use of the Services
                does not constitute the receipt of accounting advice.
              </p>
              <p>
                (vii) It is your sole responsibility to determine that the
                Services meet the needs of your business and are suitable for
                the purposes for which they are used.
              </p>
              <p>
                (viii) You remain solely responsible for complying with all
                applicable accounting, tax and other laws. It is your
                responsibility to check that storage of and access to your Data
                via the Software and the Site will comply with laws applicable
                to you (including any laws requiring you to retain records).
              </p>
              <p>
                (ix) Nineyard may from time to time need to remove modules, or
                certain functionality within modules, that may be part of your
                Services. Nineyard will use reasonable efforts to provide you
                with advance notice of any intention to remove modules or
                functionality from the Service, but you acknowledge that
                Nineyard will not be responsible for any failure to do so, and
                Nineyard will not be responsible for any loss that you may
                suffer as a result of the removal of that module or that
                functionality.
              </p>
            </li>
            <li>
              <p>
                <u>Disclaimer of Warranty</u>. Your use of the Site and Services
                is at your sole discretion and risk. The Site and Services, and
                all materials, information, products and services included
                therein, are provided on an ’AS IS“ and ’AS AVAILABLE“ basis
                without warranties of any kind. NINEYARD EXPRESSLY DISCLAIMS ALL
                WARRANTIES OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY, RELATING
                TO THE SITE AND SERVICES, INCLUDING WITHOUT LIMITATION THE
                WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR
                PURPOSE, NON-INFRINGEMENT OF PROPRIETARY RIGHTS, COURSE OF
                DEALING OR COURSE OF PERFORMANCE. NINEYARD DISCLAIMS ANY
                WARRANTIES: (I) REGARDING THE SECURITY, ACCURACY, RELIABILITY,
                TIMELINESS AND PERFORMANCE OF THE SITE OR SERVICES; OR (II) THAT
                THE SITE OR SERVICES WILL BE ERROR-FREE OR THAT ANY ERRORS WILL
                BE CORRECTED, OR (III) THAT THE SERVICE WILL MEET CUSTOMER’S
                REQUIREMENTS OR THAT THE OVERALL SYSTEM THAT MAKES THE SERVICE
                AVAILABLE (INCLUDING BUT NOT LIMITED TO THE INTERNET, OTHER
                TRANSMISSION NETWORKS, AND CUSTOMER’S LOCAL NETWORK AND
                EQUIPMENT) WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
              </p>
              <p>
                NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY
                YOU FROM NINEYARD, WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED
                IN THESE TERMS OF SERVICE. NINEYARD EXPRESSLY DISCLAIMS ANY
                REPRESENTATIONS OR WARRANTIES THAT CUSTOMER’S USE OF THE SERVICE
                WILL SATISFY ANY STATUTORY OR REGULATORY OBLIGATIONS, OR WILL
                ASSIST WITH, GUARANTEE OR OTHERWISE ENSURE COMPLIANCE WITH ANY
                APPLICABLE LAWS OR REGULATIONS. CUSTOMER ASSUMES ALL
                RESPONSIBILITY FOR DETERMINING WHETHER THE SERVICE OR THE
                INFORMATION GENERATED THEREBY IS ACCURATE OR SUFFICIENT FOR
                CUSTOMER’S PURPOSES. Some states or jurisdictions do not allow
                the exclusion of certain warranties. Accordingly, some of the
                above exclusions may not apply to you.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            <strong
              ><u
                >Exclusion of Consequential Damages and Limitation of
                Liability</u
              >.</strong
            >
            IN NO EVENT WILL NINEYARD, ITS OFFICERS, DIRECTORS, EMPLOYEES OR
            AGENTS, BE LIABLE TO YOU (OR ANY OTHER PERSON) FOR ANY DAMAGES
            WHATSOEVER, INCLUDING WITHOUT LIMITATION, INDIRECT, INCIDENTAL,
            SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OR LOSS (INCLUDING BUT
            NOT LIMITED TO LOSS OR CORRUPTION OF INFORMATION, LOSS OR CORRUPTION
            OF DATA, THE COST OF RECOVERING SUCH DATA OR INFORMATION AND ANY
            LOSS OF BUSINESS PROFITS, SAVINGS, GOODWILL, REPUTATIONAL DAMAGE,
            REFUNDS OR CHARGEBACKS INCURRED, BUSINESS OR ANTICIPATED BUSINESS)
            OR DAMAGE ARISING OUT OF OR IN CONNECTION WITH ANY USE OF, OR
            RELIANCE ON, OR INABILITY TO USE OR RELY ON THE SERVICE OR SITE,
            WHETHER THE DAMAGES ARE FORESEEABLE AND WHETHER OR NOT NINEYARD HAS
            BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING
            LIMITATION OF LIABILITY WILL APPLY TO THE FULLEST EXTENT PERMITTED
            BY LAW IN THE APPLICABLE JURISDICTION AND IN NO EVENT WILL
            NINEYARD’S CUMULATIVE LIABILITY TO YOU EXCEED THE GREATER OF: (i)
            THE TOTAL FEES PAYABLE BY YOU FOR THE SERVICE DURING THE FIRST
            TWELVE (12) MONTHS OF THIS AGREEMENT; AND (II) THE TOTAL FEES PAID
            FOR THE SERVICE GIVING RISE TO THE LIABILITY DURING THE TWELVE (12)
            MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT OUT OF WHICH THE
            LIABILITY AROSE.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Indemnification</u>.</strong> You agree to defend,
            indemnify, and hold Nineyard, its respective parents, subsidiaries,
            affiliates, and the officers, directors, employees and agents of the
            foregoing, harmless from and against any and all claims,
            liabilities, damages, losses, and expenses, including without
            limitation reasonable attorney’s fees and costs, arising out of or
            in any way connected with (i) Customer’s gross negligence or willful
            misconduct, (ii) any Customer Data or use of Customer Data in
            Customer’s access to or use of the Site or Services; (iii) your
            violation of these Terms of Service; (iii) your violation of any
            third party right, including without limitation any intellectual
            property right, publicity, confidentiality, property or privacy
            right; or (iv) any claim that your use of the Site or Services
            caused damage to a third party including but not limited to claims
            brought by Customer’s customers or users.
          </p>
          <p>
            Notwithstanding the foregoing, Customer shall not be required to
            indemnify Nineyard from any such Claim to the extent it arises out
            of Nineyard’s gross negligence or willful misconduct. Customer shall
            have the right to control the defense of any action subject to this
            indemnification, except that Customer shall not enter into any
            settlement without Nineyard’s prior written approval unless it
            releases Nineyard unconditionally from all liability and imposes no
            non-monetary or other obligation on Nineyard. Nineyard shall have
            the right to participate in such defense at its own cost with
            counsel of its own choosing.
          </p>
        </li>
        <li>
          <p>
            <strong><u>Confidentiality, Data, Security and Privacy</u>.</strong>
          </p>
          <ul>
            <li>
              <u>Confidentiality</u>. “Confidential Information” means any
              non-public commercial, financial, marketing, business, sales,
              customer, technical or other data, security measures and
              procedures, know-how or other information disclosed by or on
              behalf of the disclosing party to the receiving party in
              connection with this Agreement, that, under the circumstances, a
              person exercising reasonable business judgment would understand to
              be confidential or proprietary, including the features and
              functionality of the Site and Service and the Terms of Serviceo.
              For the avoidance of doubt, Customer Data is the Confidential
              Information of Customer and Nineyard Materials is the Confidential
              Information of Nineyard. The receiving party shall keep the
              disclosing party’s Confidential Information confidential and
              secure and not disclose or permit disclosure of the disclosing
              party’s Confidential Information to any third party. This clause
              does not apply to any disclosure of Confidential Information:
              <ol>
                <li>
                  <p>required to be disclosed by law; or</p>
                </li>
                <li>
                  <p>
                    that the disclosing party agrees to in writing before the
                    disclosure is made; or
                  </p>
                </li>
                <li>
                  <p>
                    is or becomes publicly available through no fault of the
                    receiving party; or
                  </p>
                </li>
                <li>
                  <p>
                    is independently acquired or developed by the receiving
                    party without breaching any of its obligations under this
                    Agreement or at law, and without 10 the benefit or use of
                    any of the disclosing party’s Confidential Information
                    disclosed by the disclosing party; or
                  </p>
                </li>
                <li>
                  <p>
                    is in the possession of the receiving party without
                    restriction in relation to disclosure before the date of
                    receipt from the disclosing party; or
                  </p>
                </li>
                <li>
                  <p>
                    is lawfully acquired by the Receiving Party from a third
                    party, provided such information is not obtained as a result
                    of a breach by that third party of any confidentiality
                    obligations owing to the Providing Party.
                  </p>
                </li>
              </ol>
            </li>
            <li>
              <p>
                <u>Data</u>. Nineyard may use Data inputted by you for analysis
                in aggregate form or for Nineyard’s internal training or billing
                purposes.
              </p>
            </li>
            <li>
              <p>
                <u>Security</u>. Nineyard shall maintain commercially reasonable
                administrative, physical and technical safeguards designed for
                the protection, confidentiality and integrity of Customer Data.
                If Customer is a non-European Union entity, all Customer Data
                shall be processed in accordance with applicable U.S. local,
                state, and federal laws. Customer understands that the technical
                processing and transmission of Customer Data is fundamentally
                necessary to use of the Service. Customer is responsible for
                securing DSL, cable or another high speed Internet connection
                and up-to-date “browser” software in order to utilize the
                Service. Customer expressly consents to Nineyard’s interception
                and storage of Customer Data as needed to provide the Service,
                and Customer acknowledges and understands that the Customer Data
                will be subject to transmission over the Internet, and over
                various networks, only part of which may be owned and/or
                operated by Nineyard. No method of electronic transmission of
                storage is 100% secure and Nineyard cannot ensure or warrant the
                absolute security of any information Customer transmits or
                stores in the Software and/or Site. Customer further
                acknowledges and understands that Customer Data may be accessed
                by unauthorized parties when communicated across the Internet,
                network communications facilities, telephone or other electronic
                means. Without limiting Nineyard’s applicable obligations under
                these Terms in connection with confidentiality and security,
                Nineyard is not responsible for any Customer Data that is
                delayed, lost, altered, intercepted or stored during the
                transmission of any data whatsoever across networks not owned
                and/or operated by Nineyard, including, but not limited to, the
                internet and Customer’s local network.
              </p>
            </li>
            <li>
              <p>
                <u>Privacy Policy</u>. The Nineyard privacy policy is available
                online at https://ecom.datavanced.com/#/privacy-policy (as
                amended from time to time, the “Privacy Policy”). Nineyard
                reserves the right to update the Privacy Policy from time to
                time and will notify Customer at least thirty (30) days in
                advance of any material changes.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p><u>Third Party Service Providers</u>.</p>
          <ul>
            <li>
              <p>
                <u>Use of Third Party Products and Services</u>. Customer
                acknowledges that the Software may interact with third party
                services (such as ecommerce shopping sites, inventory
                management, customer relationship management, enterprise
                resource planning and accounting software providers or third
                party logistics companies) (collectively, “Third Party
                Services”). Any use or integration by Customer of such Third
                Party Services, and any exchange of data between Customer and
                any Third Party Service provider, is solely between Customer and
                the applicable Third Party Service provider. Nineyard does not
                warrant or support, and shall have no liability for, any Third
                Party Services. Customer acknowledges that it will only use
                Third Party Services in accordance with the Documentation.
              </p>
            </li>
            <li>
              <p>
                <u>Third Party Services and Customer Data</u>. If Customer
                installs or enables a Third Party Service for use with the
                Software or the Services, Customer grants Nineyard permission to
                allow the provider of that Third Party Service to access
                Customer Data as required for the integration and interoperation
                of that Third Party Service with the Services. Nineyard is not
                responsible for any disclosure, modification or deletion of
                Customer Data by a Third Party Service.
              </p>
            </li>
            <li>
              <u>Integration with Third Party Services</u>. The Software may
              contain features designed to interoperate with a Third Party
              Service. To use such features, Customer may be required to obtain
              access to a Third Party Service directly and may be required to
              grant Nineyard access to Customer account(s) on the Third Party
              Service. Nineyard cannot guarantee the continued availability of
              such Third Party Service features, and may cease providing them
              without entitling Customer to any refund, credit, or other
              compensation.
            </li>
            <li>
              <p>
                <u>Third Party Service Data</u>. Upon granting access to a
                Customer account on a Third Party Service, the Software may
                interact with data that may exist on or subsequently be added to
                such Third Party Service. Nineyard is not responsible for any
                disclosure, modification or deletion of data on a Third Party
                Service by the Software or the Services. Customer acknowledges
                and agrees that it is responsible for any security incident on
                Customer’s systems that results in the disclosure of such data.
                Customer agrees to promptly (and in any event with 48 hours)
                delete any and/or all such data (in accordance with
                industry-standard sanitization processes, e.g., NIST 800-88)
                that it has received from a Third Party Service upon request by
                a user or from Nineyard and provide certification of such
                deletion to Nineyard as it may reasonably request, including a
                signed writing from an officer of Customer.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            <strong><u>API</u>.</strong> This section governs the use of
            Nineyard's application programming interfaces (APIs), and the
            accompanying Documentation, code and related materials that provide
            Customer with the ability to programmatically interface with the
            Software, as well as other functionality as Nineyard may make
            available from time to time.
          </p>
          <ul>
            <li>
              <p>
                <u>API License</u>. Subject to the terms and conditions of this
                Agreement, Nineyard grants to Customer a limited, non-exclusive,
                non-transferable, license to: (i) internally use the API Key to
                access the API and (ii) internally use, perform, display,
                reproduce the API solely as necessary to develop, maintain and
                support Customer’s internal business purposes, in accordance
                with the specifications included in the Documentation.
              </p>
            </li>
            <li>
              <p>
                <u>API Restrictions</u>. Customer acknowledges that its access
                to and use of the API is subject to the terms of this Agreement.
                In addition, Customer acknowledges that the API and its
                structure, organization, and source code constitute valuable
                trade secrets of Nineyard. Accordingly, except as provided in
                the Agreement, Customer agrees not to disclose, distribute,
                sublicense, lease, rent, loan, resell or otherwise transfer the
                data received from the Software or the API, the Software or the
                API or the API Key to any third party. Customer will immediately
                notify Nineyard if Customer becomes aware of any material breach
                relating to the API. Customer will not make an excessive number
                of calls to the API, or otherwise use the API in a manner that
                exceeds reasonable request volume, constitutes excessive or
                abusive usage, or otherwise fails to comply or is inconsistent
                with any part of this Agreement.
              </p>
            </li>
            <li>
              <p>
                <u>Nineyard Obligations</u>. Nineyard reserves the right to
                limit and/or interrupt access to the API by a Customer in order
                to carry out scheduled maintenance or unscheduled work or to
                modify or update the API. Nineyard will use commercially
                reasonable efforts to provide a minimum of 24 hours prior
                written notice of scheduled maintenance, modification or updates
                to the API. Nineyard may update, upgrade, enhance or modify the
                API at its discretion at any time, provided it makes a
                commercially reasonable effort to give Customer advance notice.
                Customer acknowledges that any such updates, upgrades,
                enhancements or modifications may adversely impact how Customer
                accesses, uses, or communicates with the API. Customer’s
                continued access or use of the API will be deemed to be
                agreement to the updates and modifications.
              </p>
            </li>
            <li>
              <p>
                <u>Suspension</u>. Notwithstanding anything else herein,
                Nineyard may revoke Customer’s API Key and limit Customer’s
                access to the API if, in Nineyard’s sole discretion, it is
                necessary for Nineyard to maintain the quality of the Services.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            <strong><u>General</u>.</strong>
          </p>
          <ul class="pointlist">
            <li>
              <p>
                <u>No Assignment</u>. You will not assign these Terms of Service
                or assign any rights or delegate any obligations hereunder, in
                whole or in part, whether voluntarily or by operation of law,
                without the prior written consent of Nineyard. Any purported
                assignment or delegation by you without the appropriate prior
                written consent of Nineyard will be null and void. Nineyard may
                assign these Terms of Service or any rights hereunder without
                your consent.
              </p>
            </li>
            <li>
              <p>
                <u>Relationship of the Parties</u>. For purposes of these Terms
                of Service, including if you become an Account User, you are not
                an employee or agent of Nineyard and Nineyard is not your
                employee or agent, and you will not represent that you are any
                of the foregoing. Each party will be independent and act
                independently and not as a contractor, partner, joint venturer,
                agent, employee or employer of the other and will not bind or
                attempt to bind the other to any contract. Each party will be
                solely responsible for their own costs and expenses incurred in
                the performance of their obligations under these Terms of
                Service, including without limitation any expenses associated
                with the implementation of these Terms of Service.
              </p>
            </li>
            <li>
              <p>
                <u>Rights of Third Parties</u>: A person who is not a party to
                these Terms of Service has no right to benefit under or to
                enforce any term of these Terms.
              </p>
            </li>
            <li>
              <p>
                <u>Delays</u>. Neither party will be liable for any delay in
                meeting, or failure to meet, its obligations under this
                Agreement (other than the obligation to pay money) to the extent
                that such delay or failure is caused by any event outside its
                reasonable control (including, without limitation, any delay or
                failure caused by any act or omission to the other party).
              </p>
            </li>
            <li>
              <p>
                <u>Severability and Waiver</u>. In the event that any provision
                in these Terms of Service is held to be invalid or
                unenforceable, the remaining provisions will remain in full
                force and effect. The failure of Nineyard to enforce any right
                or provision of these Terms of Service will not be deemed a
                waiver of such right or provision.
              </p>
            </li>
            <li>
              <p>
                <u>Force Majeure</u>. Nineyard will not be liable hereunder by
                reason of any failure or delay in the performance of its
                obligations hereunder on account of events beyond its reasonable
                control, which may include, without limitation,
                denial-of-service attacks, strikes, shortages, riots,
                insurrection, fires, flood, storm, explosions, pandemics, acts
                of God, war, terrorism, governmental action, labor conditions,
                earthquakes, material shortages, extraordinary Internet
                congestion or extraordinary connectivity issues experienced by
                major telecommunications providers (each a “Force Majeure
                Event”). Upon the occurrence of a Force Majeure Event, Nineyard
                will be excused from any further performance of its obligations
                affected by the Force Majeure Event for so long as the event
                continues.
              </p>
            </li>
            <li>
              <p>
                <u> Jurisdiction and Governing Law</u>. These Terms of Service
                and the relationship between you and Nineyard will be governed
                by the laws of the State of New York without regard to its
                conflict of law provisions. You and Nineyard agree to submit to
                the personal and exclusive jurisdiction of the courts located in
                New York Count, New York. Nineyard also may seek injunctive or
                other equitable relief for breach of this Agreement in any court
                of competent jurisdiction wherever located. Customer consents to
                the jurisdiction of and venue in such courts and waive any
                objection as to inconvenient forum.
              </p>
            </li>
            <li>
              <p>
                <u
                  >Prohibition of Class and Representative Actions and
                  Non-Individualized Relief</u
                >.
              </p>
              <p>
                CUSTOMER AGREES THAT CUSTOMER MAY BRING CLAIMS AGAINST NINEYARD
                ONLY ON AN INDIVIDUAL BASIS AND HEREBY WAIVES THE RIGHT TO
                PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS ACTION
                OR REPRESENTATIVE PROCEEDING, TO THE MAXIMUM EXTENT NOT
                PROHIBITED BY APPLICABLE LAW. FURTHER, UNLESS BOTH PARTIES
                OTHERWISE AGREE IN WRITING, THE COURT MAY NOT CONSOLIDATE OR
                JOIN MORE THAN ONE PERSON’S CLAIMS, AND MAY NOT OTHERWISE
                PRESIDE OVER ANY FORM OF CONSOLIDATED, REPRESENTATIVE, OR CLASS
                PROCEEDING.
              </p>
            </li>
            <li>
              <p>
                <u>Entire Agreement</u>. These Terms, together with the Nineyard
                Privacy Policy, each Order Form, and the terms of any other
                notices or instructions given to you under these Terms of
                Service constitute the entire agreement between the parties and
                supersede all prior communications, representations, agreements
                or understandings, either verbal or written, between the parties
                with respect to the subject matter of this Agreement.
              </p>
            </li>
            <li>
              <p>
                <u>Notice</u>. Any notice or other communication to be given
                hereunder will be in writing and given (a) by Nineyard via email
                to the address that you provide; (b) by Nineyard via a posting
                on the Site; or (c) by you via email to admin@nineyard.com or to
                such other addresses as Nineyard may specify in writing. The
                date of receipt will be deemed the date on which such notice is
                transmitted.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div [formGroup]="termsConditionsForm" class="confirm-checkbox">
    <mat-checkbox formControlName="IsAgree" class="terms_and_condition_checkbox"
      >I Agree to all terms and conditions</mat-checkbox
    >
  </div>

  <app-page-container-button-group> </app-page-container-button-group>

  <app-page-container-button-group>
    <app-button [buttonStyle]="'underline'" (click)="goPrevious()"
      >Previous</app-button
    >
    <app-button
      (click)="goNext()"
      [isDisabled]="!termsConditionsForm.get('IsAgree').value"
      >Next</app-button
    >
  </app-page-container-button-group>
</div>
