<div class="flex_center justify-content-between">
  <h5 class="text-capitalize">Change Password</h5>
  <i
    class="pointer fal fa-times edit_ware_icon"
    (click)="dialogRef.close()"
  ></i>
</div>
<div class="body_modal_logistics">
  <form autocomplete="off" [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="username" class="font-weight-600 tk-roc-grotesk gap_bottom_10"
        >Old Password:</label
      >
      <input
        type="password"
        formControlName="oldPassword"
        class="form-control"
        id="oldPassword"
      />
      <label ngif="errorMessage" style="color: red">{{ errorMessage }}</label>
    </div>
    <div class="form-group gap_top_3pt4">
      <label for="pwd" class="font-weight-600 tk-roc-grotesk gap_bottom_10"
        >New Password:</label
      >
      <input
        (blur)="checkPasswords()"
        type="password"
        formControlName="password"
        class="form-control"
        id="newPassword"
      />
    </div>
    <div class="form-group gap_top_3pt4">
      <label for="pwd" class="font-weight-600 tk-roc-grotesk gap_bottom_10"
        >Confirm Password:</label
      >
      <input
        (blur)="checkPasswords()"
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        id="confirmPassword"
      />
    </div>
    <div class="form-group">
      <label style="color: red" *ngIf="passwordMatchingError"
        >Password does not match</label
      >
    </div>

    <div class="d-flex" style="float: right">
      <button
        class="btn edit_cancel btn_grey_transparent"
        type="button"
        (click)="dialogRef.close()"
      >
        Cancel
      </button>
      <button
        (click)="changePassword()"
        [disabled]="changePasswordForm.invalid"
        class="btn btn_primary ml-2"
        style="width: 185px !important"
        type="submit"
      >
        Change Password
      </button>
    </div>
  </form>
</div>
