<div class="main_container gap_y_p_5pt5">
  <div class="container">
    <div class="card">
      <div class="d-flex justify-content-center pb-5">
        <app-logo></app-logo>
      </div>

      <div class="text-left">
        <h4 class="font-weight-600 tk-roc-grotesk font_size_30 mb-3">
          The legal stuff
        </h4>
        <div class="bg-gray text-left privacyPage">
          <h3 class="title text-center">Privacy Policy</h3>
          <h3 class="title text-center">Effective April 30, 2020</h3>
          <overlay-scrollbars style="max-height: calc(100vh - 506px)">
            <div class="termContent text-left">
              <p>
                Nineyard, Inc. (“Nineyard,” “We” or “Us”), provides this privacy
                policy (this “Privacy Policy”) to inform you of our policies and
                procedures regarding the collection, use, and disclosure of
                certain information we receive from users of our website
                accessible at<br />
                <a href="https://www.beta.nineyard.com"
                  >https://www.beta.nineyard.com/</a
                >
                (the “Site”). Unless otherwise defined herein, capitalized words
                have the meanings set forth in the Nineyard Terms of Service
                available at
                <a href="https://ecom.datavanced.com/#/termsandconditions"
                  >https://ecom.datavanced.com/#/termsandconditions</a
                >
                which incorporates this Privacy Policy. This Privacy Policy also
                applies to information that we obtain when you communicate or
                interact with us outside of the Nineyard website, including by
                e-mail, telephone and otherwise.
              </p>
              <p>
                YOU UNDERSTAND THAT BY USING THE SITE OR OTHERWISE USING THE
                SERVICES, YOU AGREE TO THE TERMS OF THIS PRIVACY POLICY AND YOU
                EXPRESSLY CONSENT TO THE PROCESSING OF YOUR PERSONAL DATA IN
                ACCORDANCE WITH THIS PRIVACY POLICY.
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">1.</span>INFORMATION COVERED BY THIS
                  PRIVACY POLICY</strong
                >
              </p>
              <p>
                This privacy policy covers personal information, including any
                information we collect, use and share from you, as described
                further below. When you purchase a Service from us, your
                personal information will be collected, used, and shared
                consistent with the provisions of this privacy policy.
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">2.</span>TYPES OF INFORMATION WE COLLECT
                  FROM YOU</strong
                >
              </p>
              <p>
                In the course of your use of the Services, we obtain the
                following information about you as described below.
              </p>

              <ul class="loweralpha-list">
                <li>
                  <p>
                    <strong>SIGNING UP FOR SERVICES; USER INFORMATION</strong>
                  </p>
                  <ul class="discList">
                    <li>
                      <p>
                        Information you provide prior to any registration
                        process, such as your email when you provide it to us;
                      </p>
                    </li>
                    <li>
                      <p>
                        Information you provide during any registration process
                        (such as your name, company name, email address, phone
                        number, billing address or credit card information,
                        geographic location and industry), when you call or
                        email us (for support or otherwise) or when you use our
                        products or services; and
                      </p>
                    </li>
                    <li>
                      <p>
                        Payment information you provide to us (by way of our
                        Services or otherwise) when you purchase some of our
                        products and services, including credit card data.
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>
                    <strong>USE OF SERVICES, WEBSITE VISITS AND SUPPORT</strong>
                  </p>
                  <ul class="discList">
                    <li>
                      <p>
                        Data relating to your online activity on our websites
                        with respect to our Services, including but not limited
                        to the following:
                      </p>
                      <ul class="roman-list">
                        <li><p>IP address</p></li>
                        <li><p>browser type and version</p></li>
                        <li><p>geographic location</p></li>
                        <li><p>pages you view</p></li>
                        <li>
                          <p>
                            how you got to our Services and any links you click
                            on to leave our Services
                          </p>
                        </li>
                        <li>
                          <p>
                            vi. when you update your information, communicate
                            with us, or order new Services
                          </p>
                        </li>
                        <li>
                          <p>
                            metadata about your use of our Services and your
                            emails you send (including clicks and opens)
                          </p>
                        </li>
                        <li>
                          <p>
                            issues you encounter requiring our support or
                            assistance
                          </p>
                        </li>
                        <li>
                          <p>
                            any device or other method of communication you use
                            to interact with the Services
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>
                        We store this data we collect in a variety of places
                        within our infrastructure, including system log files,
                        back end databases and analytics systems.
                      </p>
                    </li>
                    <li>
                      <p>
                        Your telephone conversations with us (which we may
                        monitor or record).
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p><strong>YOUR BUSINESS DATA</strong></p>
                  <p>
                    We also collect Business Data you provide to us as you use
                    the Services for business purposes, including, but not
                    limited to:
                  </p>

                  <ul class="discList">
                    <li>
                      <p>
                        a list of catalog items with associated data from any
                        third party integration added to Nineyard;
                      </p>
                    </li>
                    <li>
                      <p>
                        information related to your sales and inventory; and
                      </p>
                    </li>
                    <li>
                      <p>
                        information that allows us to automatically keep your
                        inventory up to date based on your sales data.
                      </p>
                    </li>
                  </ul>
                  <p>
                    You must obtain consent of any third person whose personal
                    information you provide to us.
                  </p>
                </li>
              </ul>

              <p class="number-list">
                <strong
                  ><span class="count">3.</span>HOW WE USE YOUR PERSONAL
                  DATA</strong
                >
              </p>
              <p>
                In general, Personal Data you submit to us is used to provide
                you with a customized experience, aid us in serving you better,
                and to respond to your requests. We use your Personal Data to:
              </p>

              <ul class="discList">
                <li>Facilitate the creation of your Nineyard Account.</li>
                <li>Identify you as a Nineyard User in our system.</li>
                <li>Provide the services and customer support you request.</li>
                <li>Provide improved administration of the Services.</li>
                <li>
                  Analyze request and usage patterns, diagnose problems with our
                  server and administer our Services.
                </li>
                <li>
                  Improve the quality of experience when you interact with the
                  Services.
                </li>
                <li>
                  For internal purposes (e.g. procedures, risk management, staff
                  training, reviews, billing);
                </li>
                <li>
                  Send you marketing material you have subscribed to or we think
                  You may be interested.
                </li>
                <li>
                  Send you administrative email notifications, such as security
                  or support and maintenance advisories.
                </li>
                <li>
                  Notify you of Nineyard Platform updates, changes and
                  improvements.
                </li>
                <li>Respond to your inquiries.</li>
                <li>Any other purpose for which you have given permission.</li>
              </ul>

              <p class="number-list">
                <strong
                  ><span class="count">4.</span>DISCLOSURE OF YOUR PERSONAL
                  DATA</strong
                >
              </p>
              <p>
                Except as we explicitly state at the time we request
                information, or in this Privacy Policy, we do not buy, sell,
                trade, share, or rent the Personal Data collected through our
                Services to third parties. We may, however, share your Personal
                Data with:
              </p>
              <div class="aplha-number">
                <p class="number-list">
                  <strong
                    ><span class="count">a.</span>DISCLOSURE OF YOUR PERSONAL
                    DATA</strong
                  >
                </p>
                <ul class="discList">
                  <li>
                    <p>
                      third parties under contract to perform functions (such as
                      data analysis, email services, technical support, etc.) on
                      our behalf;
                    </p>
                  </li>
                  <li>
                    <p>
                      successor in interest to our company, or any acquirer of
                      all or a portion of our assets, if such assets include
                      Personal Data;
                    </p>
                  </li>
                  <li>
                    <p>
                      any Nineyard parent company, subsidiary, joint venture, or
                      other company under common control with Nineyard
                      (collectively, “Affiliate”). In such case, we will require
                      that any third party service provider, successor in
                      interest, or Affiliate agree to protect the
                      confidentiality, security, and integrity of Personal Data
                      to this same degree as this Privacy Policy.
                    </p>
                  </li>
                </ul>
                <p>
                  Where such transfers of your Personal Data are made, they will
                  be made in accordance with applicable law.
                </p>
                <p class="number-list">
                  <strong
                    ><span class="count">b.</span>NECESSARY DISCLOSURE</strong
                  >
                </p>
                <p>
                  We may disclose information you provide (including Personal
                  Data) if we have a good faith belief that disclosure is
                  necessary to:
                </p>
                <ul class="discList">
                  <li>
                    <p>
                      comply with the law or with legal process served on us;
                    </p>
                  </li>
                  <li>
                    <p>
                      protect and defend the rights or property of us or other
                      Nineyard Users;
                    </p>
                  </li>
                  <li>
                    <p>
                      to enforce this Privacy Policy or our Terms of Service; or
                    </p>
                  </li>
                  <li>
                    <p>act in an emergency to protect someone’s safety.</p>
                  </li>
                </ul>
              </div>

              <p class="number-list">
                <strong
                  ><span class="count">5.</span>RETENTION OF YOUR PERSONAL
                  DATA</strong
                >
              </p>
              <p>
                In general, we expect to keep your Personal Data for as long as
                is necessary for the purposes for which it was obtained from the
                date of collection or, where you enter into a contractual
                arrangement with us, following the end of the performance of our
                contract or when your engagement with our Services ends.
              </p>
              <p>
                We do not sell or rent your personal information to any third
                parties for marketing purposes. If you would like to know more
                about how long we will retain your Personal Data, please contact
                our Data Protection Representative at
                <a href="mailto:admin@nineyard.com">admin@nineyard.com</a>.
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">6.</span>PAYMENT INFORMATION</strong
                >
              </p>
              <p>
                All financial and billing information that we may collect
                through the Site is used solely to bill for the Services. We do
                not use this billing information for marketing or promotional
                purposes. We may use third party service providers to manage
                billing and payment, including, without limitation, credit card
                processing. In such cases, you acknowledge that you may be
                required to leave the Site in order to provide certain
                information to such third party service providers. Any Personal
                Data you provide to third party service providers will be
                subject to that third party service provider’s privacy policy
                and terms of use, and not to this Privacy Policy or the Nineyard
                Terms of Service.
              </p>

              <p class="number-list">
                <strong><span class="count">7.</span>YOUR RIGHTS</strong>
              </p>
              <p>
                Where the European Union’s General Data Protection Regulation
                2016/679, or GDPR, applies, in certain circumstances and subject
                to data processing agreements, you have rights in relation to
                the personal information we hold about you. We set out below an
                outline of those rights and how to exercise those rights. Please
                note we will require you to verify your identity before
                responding to any requests to exercise your rights by providing
                details only known to the account holder. To exercise any of
                your rights, please visit
                <a href="https://ecom.datavanced.com/#/support"
                  >https://ecom.datavanced.com/#/support</a
                >. Please note for each of the rights below we may have valid
                legal reasons to refuse your request, in such instances we will
                let you know if that is the case. You also may have a right to
                file a complaint with a national or local regulatory agency.
              </p>
              <div class="aplha-number">
                <p class="number-list">
                  <strong><span class="count">a.</span>ACCESS</strong>
                </p>
                <p>
                  You have the right to know whether we process personal
                  information about you, and if we do, to access data we hold
                  about you and certain information about how we use it and who
                  we share it with.
                </p>
                <p class="number-list">
                  <strong><span class="count">b.</span>PORTABILITY</strong>
                </p>
                <p>
                  You have the right to receive personal information you provide
                  us if we process it on the legal basis of our contract with
                  you or with your consent in a structured, commonly used and
                  machine-readable format and a right to request we transfer
                  such personal information to another party. If you wish for us
                  to transfer the personal information to another party, please
                  ensure you provide details of the party and note we can only
                  do so where it is technically feasible. We are not responsible
                  for the security of the personal information or its processing
                  once received by the third party.
                </p>

                <p class="number-list">
                  <strong><span class="count">c.</span>CORRECTION</strong>
                </p>
                <p>
                  You have the right to require us to correct any personal
                  information held about you that is inaccurate and have
                  incomplete data completed. Where you request correction,
                  please explain in detail why you believe the personal
                  information we hold about you to be inaccurate or incomplete
                  so we can assess whether a correction is required. Please note
                  that while we assess whether the personal information we hold
                  about you is inaccurate or incomplete, you may exercise your
                  right to restrict our processing of the applicable data as
                  described below.
                </p>

                <p class="number-list">
                  <strong><span class="count">d.</span>REMOVAL</strong>
                </p>
                <p>
                  You may request we remove and erase the personal information
                  we hold about you in the following circumstances:
                </p>
                <ul class="discList">
                  <li>
                    <p>
                      where you believe it is no longer necessary for us to hold
                      the personal information;
                    </p>
                  </li>
                  <li>
                    <p>
                      we are processing it on the basis of your consent and you
                      wish to withdraw your consent;
                    </p>
                  </li>
                  <li>
                    <p>
                      we are processing your data on the basis of our legitimate
                      interest and you object to such processing;
                    </p>
                  </li>
                  <li>
                    <p>
                      you no longer wish us to use your data to send you
                      marketing; or
                    </p>
                  </li>
                  <li>
                    <p>you believe we are unlawfully processing your data.</p>
                  </li>
                </ul>
                <p>
                  Please provide as much detail as possible on your reasons for
                  the request to assist us in determining whether you have a
                  valid basis for erasure.
                </p>

                <p class="number-list">
                  <strong
                    ><span class="count">e.</span>RESTRICTION OF PROCESSING TO
                    STORAGE ONLY</strong
                  >
                </p>
                <p>
                  You have a right to require us to stop processing the personal
                  information we hold about you other than for storage purposes
                  in the following circumstances:
                </p>
                <ul class="discList">
                  <li>
                    <p>
                      You believe the personal information is not accurate for
                      the period it takes for us to verify whether the data is
                      accurate;
                    </p>
                  </li>
                  <li>
                    <p>
                      We wish to erase the personal information as the
                      processing we are doing is unlawful, but you want us to
                      simply restrict the use of that data;
                    </p>
                  </li>
                  <li>
                    <p>
                      We no longer need the personal information for the
                      purposes of the processing, but you require us to retain
                      the data for the establishment, exercise or defense of
                      legal claims; or
                    </p>
                  </li>
                  <li>
                    <p>
                      You have objected to us processing personal information we
                      hold about you on the basis of our legitimate interest and
                      you wish us to stop processing the personal information
                      while we determine whether there is an overriding interest
                      in us retaining such personal information.
                    </p>
                  </li>
                </ul>
                <p class="number-list">
                  <strong><span class="count">f.</span>OBJECTION</strong>
                </p>
                <p>
                  You have the right to object to our processing of data about
                  you and we will consider your request. Please provide us with
                  detail as to your reasoning so we can assess whether there is
                  a compelling overriding interest in us continuing to process
                  such data or we need to process it in relation to legal
                  claims.<br />
                  You also have the right, at any time, to object to our
                  processing of data about you in order to send you marketing,
                  including where we build profiles for such purposes and we
                  will stop processing the data for that particular purpose.
                </p>

                <p class="number-list">
                  <strong
                    ><span class="count">g.</span>WITHDRAWAL OF CONSENT</strong
                  >
                </p>
                <p>
                  Where you have provided your consent to us processing your
                  personal data, you can withdraw your consent at any time by
                  sending an email to:
                  <a href="mailto:admin@nineyard.com">admin@nineyard.com</a>.
                </p>
              </div>

              <p class="number-list">
                <strong
                  ><span class="count">8.</span>CALIFORNIA CUSTOMER PRIVACY
                  TERMS</strong
                >
              </p>
              <p>
                To the extent your Data comprises personal information of
                California residents, the California Consumer Privacy Act of
                2018 (CCPA) will apply to the processing of that personal
                information and the following provisions will apply:
              </p>
              <ul class="discList">
                <li>
                  <p>
                    You remain the controller of the personal information you
                    provide to us for processing. We will process personal
                    information only on documented processing instructions from
                    you, and we will not disclose or retain the personal
                    information for any purpose other than for the specific
                    purpose of performing the services under these Terms, or as
                    permitted by the CCPA.
                  </p>
                </li>
                <li>
                  <p>
                    We will not engage another service provider to process
                    personal information you provide to Us without your prior
                    consent. You acknowledge the separate disclosure that we
                    have made to you of the service providers that We use, and
                    note your consent to the use of those service providers.
                    Where We use (with your consent) another service provider to
                    process personal information, We have appropriate
                    arrangements in place with that service provider to protect
                    the personal information to the same standard that the
                    personal information is protected under these terms and
                    conditions.
                  </p>
                </li>
                <li>
                  <p>
                    We shall co-operate as reasonably requested by you to enable
                    you to comply with any request by a consumer for the
                    deletion of that consumer’s personal information, as
                    permitted by the CCPA.
                  </p>
                </li>
              </ul>
              <p>
                We process personal information in relation to the Services and
                the Website for the purpose of providing you with Services. We
                use this information only to the extent and for the duration
                required to provide the Services, and process only the personal
                information that you have collected and provided to us for that
                purpose. You understand and confirm that you will not provide
                any personal information to us that is not required for you or
                your end customers to receive the relevant Services, and you
                acknowledge that Nineyard does not filter or validate any data
                (including personal information).
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">9.</span>LINK TO OTHER WEBSITES</strong
                >
              </p>
              <p>
                The Site contains links to third party websites and content from
                such third parties. Such links and content are not endorsements,
                authorizations or representations of our affiliation with that
                third party. We are not responsible for the privacy practices or
                the content of third parties. Nineyard Users should check the
                privacy policies of these third party websites. This Privacy
                Policy only covers this Site and the Services and does not cover
                any other websites.
              </p>

              <p class="number-list">
                <strong><span class="count">10.</span>CHILDREN</strong>
              </p>
              <p>
                The Site is directed to and is intended to be used only by
                persons who are 18 years of age or older. We do not knowingly
                collect information from children under 18. If you are under 18
                years of age, you are not permitted to [register for an account
                or otherwise] submit any personally identifiable information to
                us, including your name, address or e-mail address. If we
                discover that we have collected any personally identifiable
                information from a child under the age of 18, we will remove
                that information from our database as soon as possible. By
                submitting any personally identifiable information to us, you
                represent and warrant that you are 18 years of age or older.
              </p>

              <p class="number-list">
                <strong><span class="count">11.</span>COMPLAINTS</strong>
              </p>
              <p>
                In the event you wish to make a complaint about how we process
                your personal information, please contact us at:
                <a href="admin@nineyard.com">admin@nineyard.com</a>.
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">12.</span>TYPES OF DATA WE
                  COLLECT</strong
                >
              </p>
              <p>
                Personal and Anonymous Data. We collect Personal Data and
                Anonymous Data from you when you visit our Site or use our
                Services, when you send us information or communications, and/or
                when you submit content or enter into transactions in connection
                with our Services. “Personal Data” means data that allows
                someone to identify or contact you, including, for example, your
                name, address, telephone number, email address, as well as any
                other non-public information about you that is associated with
                or linked to any of the foregoing data. “Anonymous Data” means
                data that is not associated with you, not linked to your
                Personal Data, and does not permit your identification as an
                individual person.
              </p>
              <ul class="loweralpha-list">
                <li>
                  <p>
                    <strong>Personal Data You Provide to Us.</strong> When you
                    register to use the Services or create a Nineyard Account,
                    we may collect certain information, such as your email
                    address, password, name, company name, and email address. We
                    also collect Personal Data that you provide to us as you use
                    the Services, including, but not limited to:
                  </p>

                  <ul class="discList">
                    <li>
                      a list of catalog items from any third party integration
                      added to Nineyard;
                    </li>
                    <li>
                      information related to your sales and inventory; and
                    </li>
                    <li>
                      information that allows us to automatically keep your
                      inventory up to date based on your sales data.
                    </li>
                  </ul>
                  <p>
                    In addition, if you provide us feedback or contact us via
                    e-mail, we may collect your name and email address, as well
                    as any other content included in the email that you submit
                    to us, in order to send you a reply.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Personal Data Collected via Technology</strong>. We
                    collect Personal Data and Anonymous Data from you based on
                    your use of the Site and Services, directly and indirectly
                    using third party tools. Like most Internet services, we
                    automatically gather this Personal Data and Anonymous Data
                    and store it in log files each time you visit our website or
                    access your account on our network.
                  </p>
                  <p>
                    Our servers (which may be hosted by a third party service
                    provider) collect Personal Data and Anonymous Data from you,
                    such as browser type and version, operating system,
                    platform, Internet Protocol (IP) address (a number that is
                    automatically assigned to your computer when you use the
                    Internet, which may vary from session to session), domain
                    name, a date/time stamp for your visit, and other
                    demographic information.
                  </p>
                  <ul class="discList">
                    <li>
                      <p>
                        Cookies and Beacons. We may use cookies, beacons and
                        similar technologies, now or in the future, to support
                        the functionality of our Website. This provides a better
                        experience when you visit our Website and allows us to
                        improve our Website. Our service providers may use
                        cookies and beacons to collect and share Non-Personally
                        Identifiable Information about your activities both on
                        our Website and on other websites. In addition, third
                        parties that are unaffiliated with us may also collect
                        information about you, including tracking your browsing
                        history, when you use our Website. We do not have
                        control over these third party collection practices. If
                        you wish to minimize these third-party collections, and
                        you can adjust the settings of your browsers or install
                        plug-ins and add-ins.
                      </p>
                    </li>
                    <li>
                      <p>
                        Browser Cookies. A browser cookie is a small file placed
                        on the hard drive of your computer. That cookie then
                        communicates with servers, ours or those of other
                        companies that we authorize to collect data for us, and
                        allows recognition of your personal computer. We
                        associate cookies with Personally Identifiable
                        Information only if you use the automatic recognition
                        capabilities on restricted areas of the Website, order a
                        Service, use the personalization services available as
                        part of the Website, or ask us to contact you with
                        additional marketing information. We do not otherwise
                        collect Personally Identifiable Information from browser
                        cookies and we do not associate browser cookies with
                        your Personally Identifiable Information.
                      </p>
                      <p>
                        You may use the tools available on your computer or
                        other device to set your browser to refuse or disable
                        all or some browser cookies, or to alert you when
                        cookies are being set. However, if you refuse or disable
                        all browser cookies, you may be unable to access certain
                        parts or use certain features or functionality of our
                        Website.
                      </p>
                      <p>
                        You may choose whether to activate automatic recognition
                        when you register for an account. After registration,
                        you may disable the persistent cookie that supports
                        recognition using the tools in your browser. If you
                        choose to disable the cookies that support automatic
                        recognition, you will need to re-enter your [User
                        ID/username/email] and password each time you access a
                        gated portion of the Website.
                      </p>
                      <p>
                        Unless you have adjusted your browser settings so that
                        it refuses all cookies, we may use cookies when you
                        direct your browser to our Website.
                      </p>
                    </li>
                    <li>
                      <p>
                        Flash Cookies. Certain features of our Website may use
                        local stored objects called flash cookies to collect and
                        store information about your preferences and navigation
                        to, from and on our Website. We also include cookies in
                        our third party hosted video players to count the number
                        of unique viewers who see a customer’s video press
                        release and to provide aggregate reporting. The cookies
                        do not identify you as an individual or track your
                        online behavior. We do not collect Personally
                        Identifiable Information from flash cookies and we will
                        not associate them with your Personally Identifiable
                        Information.
                      </p>
                      <p>
                        Flash cookies are not managed by the same browser
                        settings as are used for browser cookies. To learn how
                        you can manage your Flash cookie settings, visit the
                        Flash player settings page on Adobe’s website. If you
                        disable or refuse Flash cookies, please note that some
                        parts of our Website may be inaccessible or may not
                        function properly.
                      </p>
                    </li>
                    <li>
                      <p>
                        Beacons. Our Website and e-mails may contain small
                        electronic files known as beacons (also referred to as
                        web beacons, clear GIFs, pixel tags and single-pixel
                        GIFs) that permit us to, for example, count Users who
                        have visited those pages or opened an e-mail and for
                        other website-related statistics. Beacons in e-mail
                        marketing campaigns allow us to track your responses and
                        your interests in our content, offerings and web pages.
                        You may use the tools in your device to disable these
                        technologies as well.
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>
                    <strong>User Controls</strong>. We offer you certain choices
                    in connection with the information we collect from you.
                  </p>
                  <ul class="discList">
                    <li>
                      <p>
                        Email Communications. You may have the opportunity to
                        receive certain communications from us related to our
                        Website. If you provide us with your e-mail address in
                        order to receive communications, you can opt out of
                        marketing e-mails at any time by following the
                        instructions at the bottom of our e-mails and adjusting
                        your e-mail preferences. Please note that certain
                        e-mails may be necessary for the operation of our
                        Website. You will continue to receive these e-mails, if
                        appropriate, even if you unsubscribe from our optional
                        communications.
                      </p>
                    </li>
                    <li>
                      <p>
                        Cookies/ Beacons. If you wish to minimize information
                        collected by cookie or beacon, you can adjust the
                        settings of your browsers to notify you when you receive
                        a cookie, which lets you choose whether or not to accept
                        it. You can also set your browser to automatically
                        reject any cookies. You may also be able to install
                        plug-ins and add-ins that serve similar functions.
                        However, please be aware that some features and services
                        on our Website may not work properly. In addition, the
                        offers we provide when you visit us may not be as
                        relevant to you or tailored to your interests.
                      </p>
                    </li>
                    <li>
                      <p>
                        Network Advertising Initiative. Certain websites you
                        visit may provide options regarding advertisements you
                        receive. If you wish to minimize the amount of targeted
                        advertising you receive, you can opt out of certain
                        network advertising programs through the Network
                        Advertising Initiative (NAI) Opt–Out Page. Please note
                        that even if you choose to remove your information (opt
                        out) you will still see advertisements while you're
                        browsing online.
                      </p>
                      <p>
                        Additionally, many advertising network programs allow
                        you to view and manage the interest categories that they
                        have compiled from your online browsing activities.
                        These interest categories help determine the types of
                        targeted advertisements you may receive. The NAI Opt–Out
                        Page provides a tool that identifies its member
                        companies that have cookies on your browser and provides
                        links to those companies.
                      </p>
                    </li>
                    <li>
                      <p>
                        Do Not Track. Some browsers support a “Do Not Track”
                        (or, DNT) feature, a privacy preference that Users can
                        set in certain web browsers, which is intended to be a
                        signal to websites and services that you do not wish to
                        be tracked across different websites or online services
                        you visit. Our Website does not currently recognize or
                        respond to DNT signals, so DNT settings do not change
                        the way the Website operates. Please note that we cannot
                        control how third party websites or online services you
                        visit through our Website respond to Do Not Track
                        signals. Check the privacy policies of those third
                        parties for information on their privacy practices.
                      </p>
                    </li>
                    <li>
                      <p>
                        Updating or Deleting Information. The accuracy of the
                        information we have about you is very important. Users
                        may update their information at any time by contacting
                        us at
                        <a hred="https://ecom.datavanced.com/#/support"
                          >https://ecom.datavanced.com/#/support</a
                        >.
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>

              <p class="number-list">
                <strong
                  ><span class="count">13.</span>SECURITY OF YOUR DATA</strong
                >
              </p>
              <p>
                Nineyard uses a commercial security certificate to ensure all
                data communicated between Nineyard and users using SSL
                technology. Communication between Nineyard and partner
                integrations is also encrypted at all times with the same
                encryption mechanism to ensure the security of your data.
                However, the internet itself is not a secure environment.
                Nineyard users must ensure that their browsers are up-to-date
                with the latest security updates from browser and operating
                system vendors. Nineyard will take all steps reasonably
                necessary to ensure that your data is treated securely and in
                accordance with this privacy policy.
              </p>
              <p>
                The security of your Personal Information is important to us,
                and we strive to implement and maintain reasonable, commercially
                acceptable security procedures and practices appropriate to the
                nature of the information we store, in order to protect it from
                unauthorized access, destruction, use, modification, or
                disclosure. Our measures include firewalls, system-wide data
                encryption, SSL encryption, physical and electronic access
                controls, and strict rules regarding the access and use of data
                on our system.
              </p>
              <p class="number-list">
                <strong
                  ><span class="count">14.</span>MOBILE APPLICATIONS</strong
                >
              </p>
              <p>
                Without limiting the generality of this Privacy Statement, in
                addition to information gathered through its Website or
                submitted to its Services, Nineyard may obtain information
                through applications (“Mobile Applications”) that Customers or
                their Authorized Users download to, and run on, their mobile
                devices (“Devices”). Mobile Applications provided by Nineyard
                may obtain information from, or access data stored on, Users’
                Devices to provide services related to the relevant Mobile
                Application. Information obtained to provide Mobile Application
                services may include information obtained in preparation for
                anticipated updates to those services. Mobile Applications may
                transmit information to and from Devices to provide the Mobile
                Application services.
              </p>
              <p class="number-list">
                <strong
                  ><span class="count">15.</span>WHERE WE STORE YOUR
                  DATA</strong
                >
              </p>
              <p>
                The Website is hosted in the United States of America and is
                subject to U.S. state and federal law. Nineyard stores your Data
                in locations that Nineyard considers will give Nineyard and its
                users the most efficient access from wherever in the world they
                may be. Access and storage controls via the Software and the
                Website are however administered by Nineyard in the United
                States as the holder of that Data. The Nineyard corporate
                headquarters address and contact details are available on our
                contact page.
              </p>
              <p>
                If you are accessing our Website from other jurisdictions,
                please be advised that you are transferring your personal
                information to us in the United States, and by using our
                Website, you consent to that transfer and use of your personal
                information in accordance with this Privacy Policy. You also
                agree to abide by the applicable laws of applicable states and
                U.S. federal law concerning your use of the Website and your
                agreements with us. Any persons accessing our Website from any
                jurisdiction with laws or regulations governing the use of the
                Internet, including personal data collection, use and
                disclosure, different from those of the jurisdictions mentioned
                above may only use the Website in a manner lawful in their
                jurisdiction. If your use of the Website would be unlawful in
                your jurisdiction, you may not use the Website.
              </p>
              <p>
                Access to this data may be granted to Nineyard employees and its
                agents at any time and the origin of this access may be from
                somewhere other than the country where the Data is stored. A
                Nineyard User consents to that Data being transferred from one
                country to the other (including via any intermediate country) as
                a function of transmission across the internet.
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">16.</span>NOTIFICATION OF CHANGES</strong
                >
              </p>
              <p>
                We reserve the right to modify this privacy policy at any time,
                so please review it frequently. If we decide to change this
                privacy policy in any material way, we will notify you here, by
                email, or by means of a notice on
                <a href="https://beta.nineyard.com"
                  >https://beta.nineyard.com</a
                >
                prior to the change becoming effective. In all cases, your
                continued use of any Services constitutes acceptance to any such
                changes. Please note that we may condition your continued access
                to our Website on your consent to changes to this Privacy
                Policy.
              </p>

              <p class="number-list">
                <strong
                  ><span class="count">16.</span>ADDITIONAL INFORMATION</strong
                >
              </p>
              <p>
                Questions regarding this Privacy Policy or the practices of this
                Site can be addressed by emailing us at
                <a href="mailto:admin@nineyard.com">admin@nineyard.com</a>. You
                may update or delete your Nineyard account data at any time by
                logging into your Nineyard account portal and making the
                appropriate changes.
              </p>
            </div>
          </overlay-scrollbars>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center gap_top_4pt5">
      <a class="ml-3 underline secondary_color" [routerLink]="['/home']"
        >Exit</a
      >
    </div>
  </div>
</div>
