<div class="flex_center justify-content-between history">
  <h5 class="">History</h5>
  <i class="pointer fal fa-times" (click)="dialogRef.close()"></i>
</div>
<div class="body_modal_logistics">
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
  <div class="history_block">
    <div class="history_one d-flex">
      <p class="font_size_14 history_text">Moshe Grander</p>
      <p class="font_size_14">- Create a new shipment FBA31111</p>
    </div>
    <div class="history_one d-flex justify-content-center">
      <p class="font_size_14 data_time">05/06/19 10:36pm</p>
    </div>
    <div class="history_one">
      <i class="fal fa-history icon_history"></i>
    </div>
  </div>
</div>
