<main class="form_holder">
  <div class="right_side big_screen_h_100 position-relative">
    <div class="d-flex form_container">
      <div class="form_parent">
        <form autocomplete="off" [formGroup]="changePasswordForm">
          <div class="text-center">
            <h4 class="font-weight-600 tk-roc-grotesk form_type_label">
              Change Password
            </h4>
          </div>
          <div class="form-group gap_top_11">
            <label
              for="username"
              class="font-weight-600 tk-roc-grotesk gap_bottom_10"
              >Old Password:</label
            >
            <input
              type="password"
              formControlName="oldPassword"
              class="form-control"
              id="oldPassword"
            />
          </div>
          <div class="form-group gap_top_3pt4">
            <label
              for="pwd"
              class="font-weight-600 tk-roc-grotesk gap_bottom_10"
              >New Password:</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="newPassword"
            />
          </div>
          <div class="form-group gap_top_3pt4">
            <label
              for="pwd"
              class="font-weight-600 tk-roc-grotesk gap_bottom_10"
              >Confirm Password:</label
            >
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              id="confirmPassword"
            />
          </div>
          <div class="form-group">
            <label style="color: red">{{ errorMessage }}</label>
          </div>

          <button
            type="button"
            [disabled]="changePasswordForm.invalid"
            class="gap_top_3pt4 btn btn_primary"
            (click)="changePassword()"
          >
            Change Password
          </button>
        </form>
      </div>
    </div>
    <div class="app_link_of_form"></div>
  </div>
</main>
