:host {
  line-height: initial;
  height: 100%;
  display: flex;
  align-items: center;
}

.editor {
  display: grid;
  grid-auto-flow: column;
  gap: var(--space-xxs);
  margin: var(--space-xxs);
  &_typeahead {
    input {
      width: 100%;
      border: 1px solid var(--gray-2);
      padding: 3px;
      background: none;
    }
  }
  &_pause {
  }
  &_actions {
    display: flex;
    gap: var(--space-xxs);
  }
  &_action {
    padding: var(--space-xxs) var(--space-xs);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    background-color: var(--gray-2);
  }
}
