.new-connection {
  padding: var(--space-md);
  background-color: var(--color-gray-2);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--space-sm);
  display: grid;
  gap: var(--space-md);

  .input-container:first-child {
    grid-column: 1/-1;
  }

  &_step-container {
    margin-left: var(--space-md);
  }

  &_data-inputs {
    display: grid;
    grid-template:
      "name name name" auto
      "marketplace id token" auto
      "action action action" auto /
      1fr 1fr 1fr;
    gap: var(--space-sm);
  }

  &_step-title {
    font-family: var(--font-bold);
    font-size: var(--text-lg);
    margin-left: calc(var(--space-md) * -1);
    margin-bottom: var(--space-md);
  }

  &_action {
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
  }
}
