@import "../../../../assets/scss/variable.scss";
.edit_ware {
  h5 {
    font-size: 30px !important;
  }
  .edit_ware_icon {
    font-size: 36px !important;
  }
}

.control-label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-block {
  margin: 0 -1rem;
}
