.form-control,
.btn {
  width: 342px;
}
.invite_input_group {
  display: inline-grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 20px;
  justify-content: center;
  align-items: start;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .invite_input_group {
    grid-template-columns: auto;
  }
}

@media (max-width: 400px) {
  .invite_input_group {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
