<main class="form_holder">
  <div class="right_side big_screen_h_100 position-relative">
    <div class="d-flex form_container">
      <div class="form_parent">
        <form autocomplete="off">
          <div class="text-center">
            <h4 class="font-weight-600 tk-roc-grotesk form_type_label">
              Two Factor SMS
            </h4>
            <p class="gap_top_12 font_size_16">
              Please enter the code we sent you:
            </p>
          </div>
          <div class="form-group gap_top_4pt5">
            <div class="form_group_two_factor">
              <input
                type="number"
                class="form-control"
                id="factor1"
                maxlength="1"
              />
              <input
                type="number"
                class="form-control"
                id="factor2"
                maxlength="1"
              />
              <input
                type="number"
                class="form-control"
                id="factor3"
                maxlength="1"
              />
              <input
                type="number"
                class="form-control"
                id="factor4"
                maxlength="1"
              />
              <input
                type="number"
                class="form-control"
                id="factor5"
                maxlength="1"
              />
              <input
                type="number"
                class="form-control"
                id="factor6"
                maxlength="1"
              />
            </div>
          </div>

          <div
            class="gap_top_6 d-flex justify-content-center align-items-center"
          >
            <button type="button" class="btn btn_primary">Continue</button>
          </div>

          <div
            class="d-flex justify-content-center align-items-center gap_top_7pt5"
          >
            <a
              href="javascript:void(0)"
              class="text-uppercase primary_color font-weight-600"
              >Send a new code</a
            >
          </div>
        </form>
      </div>
    </div>
    <div class="app_link_of_form"></div>
  </div>
</main>
