<main class="form_holder">
  <div class="right_side big_screen_h_100 position-relative">
    <div class="d-flex form_container">
      <div class="form_parent">
        <form autocomplete="off" [formGroup]="resetPasswordForm">
          <div class="text-center">
            <h4 class="font-weight-600 tk-roc-grotesk form_type_label">
              Reset Password
            </h4>
          </div>
          <div class="form-group gap_top_11">
            <label
              for="newPassword"
              class="font-weight-600 tk-roc-grotesk gap_bottom_10"
              >New Password:</label
            >
            <input
              type="password"
              formControlName="newPassword"
              class="form-control"
              id="newPassword"
            />
          </div>
          <div class="form-group gap_top_2pt2">
            <label
              for="confirmPassword"
              class="font-weight-600 tk-roc-grotesk gap_bottom_10"
              >Confirm Password:</label
            >
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              id="confirmPassword"
            />
          </div>
          <div class="form-group">
            <label style="color: red" *ngIf="errorMessage">{{
              errorMessage
            }}</label>
          </div>

          <button
            type="button"
            [disabled]="resetPasswordForm.invalid"
            (click)="resetPassword()"
            class="gap_top_3pt4 btn btn_primary"
          >
            Change Password
          </button>

          <div
            class="d-flex justify-content-between align-items-center gap_top_4pt5"
          >
            <a
              [routerLink]="['/account/sign-up']"
              class="text-uppercase primary_color font-weight-600"
              >Signup</a
            >
            <a
              [routerLink]="['/account/login']"
              class="text-uppercase primary_color font-weight-600"
              >Login</a
            >
          </div>
        </form>
      </div>
    </div>
    <div class="app_link_of_form"></div>
  </div>
</main>
